<body style="font-family: Arial; padding: 20px; background: #fafafa;">
    <a href="/logout" style="float: right;">Logout</a>
    <h1>Welcome, {{ session['username'] }}</h1>
    <p>Role: <strong>{{ session['role'] }}</strong></p>
    <hr>
    {% for sub in subjects %}
    <div style="display: inline-block; width: 200px; padding: 20px; margin: 10px; background: white; border: 1px solid #ddd; border-radius: 10px; box-shadow: 2px 2px 5px #eee;">
        <h3>{{ sub }}</h3>
        <a href="/input/{{ sub }}" style="text-decoration: none; color: green; font-weight: bold;">+ Enter Marks</a>
    </div>
    {% endfor %}
</body>